<form>
    <div class="form-group">
        <label>{{localize "FXMASTER.Name"}}</label>
        <div class="form-fields">
            <input name="label" type="text" value="{{default.label}}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FXMASTER.File"}}</label>
        <div class="form-fields">
            {{filePicker target="file" type="video"}}
            <input type="text" name="file" value="{{default.file}}" />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FXMASTER.Scale"}} (x, y)</label>
        <div class="form-fields">
            <input type='text' data-dtype="Number" value="{{default.scale.x}}" name='scaleX' />
            <input type='text' data-dtype="Number" value="{{default.scale.y}}" name='scaleY' />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FXMASTER.Angle"}}</label>
        <div class="form-fields">
            <input type='range' data-dtype="Number" value="{{default.angle}}" name='angle' min="0" step="45"
                max="360" />
            <span class="range-value">{{default.angle}}</span>
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FXMASTER.Anchor"}} (x, y)</label>
        <div class="form-fields">
            <input type='text' data-dtype="Number" value="{{default.anchor.x}}" name='anchorX' />
            <input type='text' data-dtype="Number" value="{{default.anchor.y}}" name='anchorY' />
        </div>
    </div>
    <div class="form-group">
        <label>{{localize "FXMASTER.Speed"}}</label>
        <div class="form-fields">
            <input type='number' data-dtype="Number" value="{{default.speed}}" name='speed' step="0.01"/>
        </div>
    </div>
    <footer class="form-footer">
        <button type="submit" name="submit">
            <i class="fas fa-save"></i> {{localize "FXMASTER.SaveChanges"}}
        </button>
    </footer>
</form>